* {
    margin: 0;
    padding: 0;
    font-family: var(--font-poppins), sans-serif;
    font-weight: 250;
    font-style: normal;
}

html {
    height: 100%;
}

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(#131313, rgb(0, 0, 0));
}

main {
    flex:1;
}

h1 {
    background-color: #66666600;
    color:rgb(232, 232, 232);
    font-size: 1rem;
    padding: 0%;
    margin: 0%;
    
}

h2 {
    background-color: #66666600;
    color:#bebebe;
    font-size: 1rem;
    padding:0%;
    margin:0%;
}

h3 {
    background-color: #66666600;
    color:rgb(169, 169, 169);
    padding:0%;
    margin:0%;
    text-align:center;
}

ul {
    color:#d2d2d2;
}

p {
    color:#d2d2d2;
    font-family: var(--font-poppins);
    font-weight: 300;
}

.link {
    padding:0%;
    font-family: var(--font-montserrat);

    font-weight:bold;
    font-size:1.5rem;
    text-decoration:underline;

    color:#74beff;
}

.base {
    display: flex;
    flex-direction: column;
}

.break {
    margin:1% 0% 1% 0%;
}

.break2 {
    margin:5% 0% 5% 0%;
}

.maximize {
    width:100%;
    height:100%;
}

.background-viewport-container {
    z-index: 0;
    position: relative;

    width: 100%;
    height: 100%;
    overflow: clip;

}

.grid-viewport-container {
    z-index: 0;
    width:100%;
    position:absolute;
}

.header-row {
    z-index:3;

    display:flex;
    justify-content:space-evenly;

    align-items: stretch;
    
    width:100%;
    min-height:fit-content;
    color:#d0deff;
    background-color:rgb(132, 132, 132);
    position:sticky;
    top:0;
}

.footer {    
    padding: 5% 0% 0% 0%;
    margin-top: auto;
    position: relative;

    width: 100%;
}

.footer-row {
    justify-content:space-evenly;

    color:#dcdcdc;
    background-color:#161616;
}

.poppins-thin {
    font-family: var(--font-poppins), sans-serif;
    font-weight: 100;
    font-style: normal;
}

.display-flex-row {
    display:flex;
    flex-direction: row;
}

.display-flex-col {
    display:flex;
    flex-direction: column;
}

.align-self-center {
    align-self:center;
}

.justify-self-center {
    justify-self:center;
}

.spaced-container {
    display:flex;
    width: 100%;
}

.section-row {
    z-index: 2;
    padding: 1%;
    margin: 1% 1% 1% 1%;
    background-color: rgb(34, 34, 34);
    border-radius:2rem;
}

.content-text {
    z-index:1;
    font-size: 1.5rem;
    color:#d2d2d2;
}

.content-row {
    z-index: 1;
    justify-content:space-around;
    background-color: rgb(34, 34, 34);
    border-radius:0rem;
    
    position:relative;
}

.video-fit {
    aspect-ratio: 1/1;
    width:45%;
    background-color:#ee9b9b00;
}

.video-text {
    z-index: 1;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem;
    font-family: var(--font-roboto-flex);

    align-self:center;
    justify-self:center;
    
    position:relative;
}

.programming-text {
    z-index: 1;
    margin: 1% 3% 1% 3%;

    font-family: var(--font-poppins);
    font-size: 1.5rem;
    color:#d2d2d2;

    align-self:center;
    justify-self:left;
    position:relative;
}

.video-title {
    z-index: 2;

    font-family: var(--font-roboto-flex);
    font-size: 3rem;
    font-weight: 300;

    color:#d6d6d6;
    padding-left: 2%;
    align-self:center;
    justify-self:center;
    position: relative;
}

.subtitle-row {
    z-index: 1;
    background-color: rgb(34, 34, 34);
    justify-self: center;
    align-self:center;
    
    position:relative;
}

.frontpage-row {
    z-index: 1;
    padding:2% 2% 2% 2%;

    background-color: rgba(34, 34, 34, 0.475);
    border-radius:0rem;
    
    position:relative;
}

@keyframes pop-in-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.pop-in-text {
    z-index: 2;

    font-size: 1.5rem;
    font-weight: 250;
    font-style: static;
    color:#ffffff;

    padding: 5% 0% 0% 0%;
    position: relative;

    animation-name: pop-in-animation;
    animation-duration: 2s;
}

.contact-row {
    z-index: 1;

    margin: 3% 0% 3% 0%;
    padding: 2% 2% 2% 2%;
    background-color: rgb(34, 34, 34);
    border-radius:0rem;
    
    position:relative;
}

.left-indent {
    margin: 0% 2% 0% 2%;
}


.content-inner-row {
    z-index: 1;
    background-color: #333333;
    border-radius:1rem;
    padding:1%;
}

.hollow-row {
    z-index: 1;
    justify-content: space-around;
    margin: 3% 0% 3% 0%;
    padding: 1%;
    background-color: rgba(49, 49, 49, 0.815);
    border-radius: 0rem;
    position:relative;
}

.title {
    margin: 5% 0% 5% 0%;
    z-index: 2;
    font-size: 4rem;
    font-weight: 300;
    color:#d6d6d6;
    text-shadow: 0rem 0.2rem 0rem rgb(83, 83, 83);
    position: relative;
}

.subtitle {
    z-index: 1;
    font-size: 1.5rem;
    font-weight: 300;
    color:#d6d6d6;
}

.contact-info-text {
    z-index: 1;
    font-family: var(--font-poppins);
    font-optical-sizing: auto;
    font-weight:550;
    font-size:1.5rem;
    color:#d6d6d6;
}

.array-row {
    margin: 0%;
    padding: 0%;
    background-color: #333333;
    border-radius: 0%;
}

.header-row-inset {
    z-index:1;
    padding:1% 0% 0% 0%;


    background-color: rgb(123, 123, 123);
}

.header-button {
    transition: transform 0.1s, background-color 0.1s, color 0.1s, height 0.1s;

    margin: 0% 0% 0% 0%;
    text-align:center;

    align-self:stretch;

    height:auto;
    width:100%;

    font-family: var(--font-poppins);
    font-weight: 10;
    font-size: 2rem;
    font-optical-sizing: auto;
    font-style: normal;
    color:rgb(231, 231, 231);
    text-decoration: none;

    background-color: #4f4f4f;
    box-shadow: 0rem 0.5rem 0rem rgb(43, 43, 43);
}

.header-button:hover {
    transform: translate(0rem, 0.3rem);
    background-color:rgb(132, 132, 132);
    box-shadow: 0rem 0.7rem 0rem rgb(43, 43, 43);
}

.header-button:active {
    transform: translate(0rem, -0.5rem);
    background-color:rgb(132, 132, 132);
}

.button1 {
    flex: 1;
    z-index:1;

    transition: transform 0.1s, background-color 0.1s, color 0.1s, box-shadow 0.1s;

    font-family: var(--font-montserrat);
    font-weight: 300;
    font-optical-sizing: auto;
    font-style: italic;
    color:#cdcdcd;
    text-align: center;

    background-color: rgb(41, 41, 41);
    border:#4f4f4f;
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 1rem;
    padding:1rem;
    margin: 1rem;
}

.button1:hover {
    transform: translate(0rem, -0.25rem);
    background-color:rgb(61, 61, 61);
}

.button1:active {
    transform: translate(0rem, 0.25rem);
    background-color:rgb(49, 49, 49);
}

.content-viewport-wrapper {
    aspect-ratio: 1/1;

    height:15%;

    padding: 0%;
    margin: 0;
    background-color: #33333300;

    border-radius: 1rem;
}

.content-viewport {
    height:100%;
    width:100%;
}