/* 'Montserrat' font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');
/* 'Poppins' font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

* {
    background-color:rgb(41, 48, 57);
    font-family: "Poppins", sans-serif;
    font-weight: 250;
    font-style: normal;
    margin: auto;
}

body {
    background-color: #66666600;
    color:rgb(169, 169, 169);
    padding: 0%;
    margin: 0%;
}

h1 {
    background-color: #66666600;
    color:rgb(232, 232, 232);
    padding: 0%;
    margin: 0%;
}

h2 {
    background-color: #66666600;
    color:rgb(169, 169, 169);
    padding:0%;
    margin:0%;
}

.section-row {
    padding: 0.5%;
    margin: 0.5%;
    background-color: #37415a;
    border-radius: 18px;
}

.header-row {
    margin: auto;
    padding: 0.5%;
    background-color: #37415a;
    border-radius: 18px;
}

.array-row {
    margin: 0%;
    padding: 0%;
    background-color: #cecece;
    border-radius: 0%;
}


.button1 {
    font-family: 'Montserrat';
    font-weight: 300;
    font-optical-sizing: auto;
    font-style: italic;
    color:black;

    background-color: rgb(240, 247, 255);
    border:#d6d6d6;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    padding: 0.7%;
    margin: 0.2%;
}