/* 'Montserrat' font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');
/* 'Poppins' font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');
/* Tailwind for animations */
@import "tailwindcss";

.base {
    display:flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.link {
    padding:0%;
    font-family: 'Poppins';
    font-optical-sizing: auto;
    font-weight:bold;
    font-size:1.7rem;
    text-decoration:underline;
    color:#74beff;
}

.break {
    margin:1% 0% 1% 0%;
}

.background-viewport-container {
    z-index: 1;

    width:100%;
    height:100%;
    position:absolute;
    top:-5%;
}

.background-viewport-base {
    width:100%;
    height:100%;
}

.grid-viewport-container {
    z-index: 1;
    width:100%;
}

.header-row {
    z-index:2;
    
    justify-content:space-evenly;

    width:100%;
    color:#d0deff;
    background-color:rgb(132, 132, 132);
    position:sticky;
    top:0;
}

.footer-row {
    z-index:2;
    display:flex;

    justify-content:space-evenly;

    padding:2%;
    width:100%;
    color:#dcdcdc;
    background-color: #303030;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

html {
    background: linear-gradient(#131313, rgb(0, 0, 0));
}

* {
    font-family: "Poppins", sans-serif;
    font-weight: 250;
    font-style: normal;
}

body {
    background-color: #66666600;
    color:rgb(169, 169, 169);
    padding: 0%;
    margin: 0%;
}

h1 {
    background-color: #66666600;
    color:rgb(232, 232, 232);
    padding: 0%;
    margin: 0%;
    
}

h2 {
    background-color: #66666600;
    color:#bebebe;
    padding:0%;
    margin:0%;
}

h3 {
    background-color: #66666600;
    color:rgb(169, 169, 169);
    padding:0%;
    margin:0%;
    text-align:center;
}

.display-flex-row {
    display:flex;
    flex-direction: row;
}

.display-flex-col {
    display:flex;
    flex-direction: column;
}

.align-self-center {
    align-self:center;
}

.justify-self-center {
    justify-self:center;
}

.spaced-container {
    display:flex;
    width: 100%;
}

.section-row {
    z-index: 0;
    padding: 1%;
    margin: 1% 1% 1% 1%;
    background-color: rgb(34, 34, 34);
    border-radius:2rem;
    position:relative;
}

.content-text {
    z-index: 0;
    font-size: 1.5rem;
    padding:0rem;
    margin:1rem;
    position:relative;
}

.content-row {
    z-index: 1;
    justify-content:space-around;
    margin: 3% 0% 3% 0%;
    padding: 2% 5% 2% 5%;
    background-color: rgb(34, 34, 34);
    border-radius:0rem;
    position:relative;
    box-shadow: 0rem 0.7rem 0rem rgb(14, 14, 14);
}


.content-inner-row {
    z-index: 0;
    background-color: #333333;
    border-radius:1rem;
    padding:1%;
    position:relative;
}

.hollow-row {
    z-index: 1;
    justify-content:space-around;
    margin: 3% 0% 3% 0%;
    padding: 1%;
    background-color: rgba(29, 29, 29, 0.811);
    border-radius:0rem;
    box-shadow: 0rem 0.7rem 0rem rgb(14, 14, 14);
    position:relative;
}

.title {
    z-index: 1;
    font-size: 5rem;
    font-weight: 300;
    color:#d6d6d6;
    position:relative;
    text-shadow: 0rem 0.5rem 0rem rgb(43, 43, 43);
}

.subtitle {
    z-index: 1;
    font-size: 1.5rem;
    font-weight: 300;
    color:#d6d6d6;
    position:relative;
    text-shadow: 0rem 0.5rem 0rem rgb(43, 43, 43);
}

.array-row {
    margin: 0%;
    padding: 0%;
    background-color: #333333;
    border-radius: 0%;
    position:relative;
}

.header-row-inset {
    z-index:1;
    padding:1% 0% 0% 0%;

    height:100%;

    background-color: rgb(123, 123, 123);
}

.headerbutton {
    transition: transform 0.1s, background-color 0.1s, color 0.1s, height 0.1s;

    margin: 0% 0% 0% 0%;
    text-align:center;

    height:4rem;

    width:25%;

    font-family: 'Poppins';
    font-weight: 10;
    font-size: 2rem;
    font-optical-sizing: auto;
    font-style: normal;
    color:rgb(231, 231, 231);

    background-color: #4f4f4f;
    box-shadow: 0rem 0.5rem 0rem rgb(43, 43, 43);
}

.headerbutton:hover {
    transform: translate(0rem, 0.3rem);
    background-color:rgb(132, 132, 132);
    box-shadow: 0rem 0.7rem 0rem rgb(43, 43, 43);
}

.headerbutton:active {
    transform: translate(0rem, -0.5rem);
    background-color:rgb(132, 132, 132);
}


.button1 {
    flex: 1;
    z-index:1;

    transition: transform 0.1s, background-color 0.1s, color 0.1s, box-shadow 0.1s;

    font-family: 'Montserrat';
    font-weight: 300;
    font-optical-sizing: auto;
    font-style: italic;
    color:#cdcdcd;
    text-align: center;

    background-color: rgb(41, 41, 41);
    border:#4f4f4f;
    border-style: solid;
    border-width: medium;
    border-radius: 1rem;
    padding:1rem;
    margin: 1rem;

    box-sizing:border-box;
    position:relative;
}

.button1:hover {
    transform: translate(0rem, -0.5rem);
    background-color:rgb(61, 61, 61);
}

.button1:active {
    transform: translate(0rem, 0.3rem) rotate3d(1, 0, 0, -20deg);
    background-color:rgb(49, 49, 49);
    box-shadow: 0px 0.7rem 0px rgb(41, 46, 75);
}

.content-viewport-wrapper {
    aspect-ratio: 1/1;

    height:15%;

    padding: 0%;
    margin: 0;
    background-color: #33333300;

    border-radius: 1rem;
}

.content-viewport {
    height:100%;
    width:100%;
}